extends ../layout1

block content
  .container
    .row
      .page-header.clearfix
        h1(style="display:inline-block")= title
        a.pull-right.btn.btn-success(href="/admin/user/add",style="margin-top:30px") 添加成员
  .navbar.navbar-default.navbar-fixed-bottom
    .container
      .navbar-header
        a.navbar-brand(href="/admin/user/list") 员工信息管理系统
      if user
        p.navbar-text.navbar-right
          span 欢迎您,#{user.name}
          span &nbsp;|&nbsp;
          a.navbar-link(href="/logout") 登出
      else
        p.navbar-text.navbar-right
          a.navbar-link(href="/signup") 注册
          span &nbsp;|&nbsp;
          a.navbar-link(href="/signin") 登录
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 邮箱
            th 姓名
            th 性别
            th 年龄
            th 联系电话
            th 部门
            th 职位
            th 更新时间
            th 查看
            th 修改
            th 删除
        tbody
          each item in users
            tr(class="item-id-#{item._id}")
              td #{item.mail}
              td #{item.name}
              td #{item.sex==='male'?'男':'女'}
              td #{item.age}
              td #{item.tel}
              td #{item.department}
              td #{item.position}
              td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
              td: a(href="/admin/user/detail/#{item._id}") 查看
              td: a(href="/admin/user/update/#{item._id}") 修改
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
    script(src="/js/admin.js")